@{
    string currentAction = ViewData["CurrentAction"] as string;
    string currentController = ViewData["CurrentController"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspDotNetMVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col">
    <header class="bg-white shadow">
        <nav class="relative container mx-auto px-4 py-2 flex justify-between items-center">
            <a class="text-2xl font-bold text-gray-800" asp-area="" asp-controller="Home" asp-action="Index">Book Library</a>
            @if (currentController == "Books") 
            {
                <div>
                    <form id="logout" method="post" action="@Url.Action("Logout", "Auth")">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            }
        </nav>
    </header>
    <div class="container mx-auto px-4 py-6">
        <main role="main" class="pb-3">
            <p class="bg-red-500 text-gray-800 rounded-sm px-2 w-full" >@ViewData["Error"]</p>
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white border-t border-gray-200 mt-auto h-20">
        <div class="container mx-auto px-4 py-4 text-center text-gray-600">
            &copy; 2024 - Book Library - <a class="text-blue-500 hover:text-blue-700" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


